body {
        background-color: lightgrey;
        font-family:Arial, Helvetica, sans-serif;
    }

    header {
        background-color: #808080;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #img {
        width: 25%;
        align-self: center;
        border-radius: 1rem;
    }

    .Steckbrief {
        width: 20%;
        padding: 5rem;
    }

    .Infotext {
        width: 20%;
        padding-right: 5rem;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5rem;
    }

    footer {
        background-color: #808080;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    hr{
        width: 50%;
    }

/* Login Seite: */

/* Login Seite: */

#PasswortMerken {
    display: flex;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginContent {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#LoginInputÜberschrift {
    align-self: flex-start;
}

#LoginButton {
    background-color: bisque;
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#KontoErstellenButton {
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    padding-top: 20px;
    padding-bottom: 20px;
}


#passwort {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box; 
}

#E-Mail {
    margin-top: 30px;
}

#ÜberschriftLogin {
    text-align: center;
}

#PwVergessen {
    text-align: center;
}

#keinKonto {
    margin-top: 50px;
    text-align: center;
}

#passwordField {
    position: relative;
}

i {
    position: absolute;
    top: 50%;
    right: 4%;
    cursor: pointer;
}